//------------------------------------------------
// Layout - Sidebar
//------------------------------------------------

.contacts-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.contacts-list__contact {
	border-bottom: 1px solid $white;
	display: block;
	margin: 0;
	padding: 0;
}

.contacts-list__item {
	@include box-sizing(border-box);
	background: transparent;
	color: $black;
	display: block;
	padding: 14px $space 11px;
	text-decoration: none;
	transition: background 0.3s;
	width: 100%;

	&:hover {
		background: darken($primary, 20%);
	}
}

.contacts-list__item--add {
	background: lighten($secondary, 10%);
	position: relative;

	&:after {
		@include border-radius(50%);
		background: darken($secondary, 10%);
		content: '+';
		display: block;
		font-size: 24px;
		height: 25px;
		line-height: 26px;
		position: absolute;
		right: 13px;
		text-align: center;
		top: 13px;
		transition: all 0.3s;
		width: 25px;
	}

	&:hover {
		background: $secondary;

		&:after {
			background: transparent;
		}
	}

	&.contacts-list__item--active {
		&:after {
			background: transparent;
		}
	}
}

.contacts-list__item--active {
	background: $white;
	font-weight: 600;

	&:hover {
		background: $white;
	}
}
