//------------------------------------------------
// Variables
//------------------------------------------------

// Rhythm
$space: 30px;





// Colors
$white: #ffffff;
$black: #000000;
$gray-dark: #DFDFDF;
$gray-light: #ECECEC;
$primary: #A7DBD8;
$primary-dark: #009281;
$secondary: #FC902A;
$secondary-dark: #FF6446;
$warning: #E60400;





// Fonts 
$font-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif: Georgia, 'Times New Roman', serif;





// Breakpoints
$break-small: 480px;
$break-medium: 720px;
$break-large: 960px;
$break-xl: 1200px;
$max-width: 1600px;





// Grid
$susy: (
	columns: 12,
	container: $max-width,
	gutters: 1/2
);




